.select2-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-right: 8px;
      padding-left: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
    padding-right: 20px; }
  .select2-container .select2-selection--multiple {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-right: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: right; }
    .select2-container .select2-search--inline .select2-search__field {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  right: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  right: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: left;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      right: 50%;
      margin-right: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  right: 1px;
  left: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
      list-style: none; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    padding: 1px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-right: 5px;
  margin-left: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 2px;
  margin-left: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-right: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-right: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-right: -1em;
    padding-right: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-right: -2em;
      padding-right: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-right: -3em;
        padding-right: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-right: -4em;
          padding-right: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-right: -5em;
            padding-right: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(50%, white), to(#eeeeee));
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }
  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin-left: 10px; }
  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 20px;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(50%, #eeeeee), to(#cccccc));
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0); }
    .select2-container--classic .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      right: 50%;
      margin-right: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: right; }

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-left: 1px solid #aaa;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  right: 1px;
  left: auto; }

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb; }
  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
    .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent;
      border-width: 0 4px 5px 4px; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-image: -webkit-gradient(linear, right top, right bottom, from(white), color-stop(50%, #eeeeee));
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0); }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(50%, #eeeeee), to(white));
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0); }

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0; }
  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-left: 2px; }
    .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #555; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: left;
  margin-right: 5px;
  margin-left: auto; }

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 2px;
  margin-left: auto; }

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb; }

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0; }

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent; }

.select2-container--classic .select2-dropdown--above {
  border-bottom: none; }

.select2-container--classic .select2-dropdown--below {
  border-top: none; }

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--classic .select2-results__option[role=group] {
  padding: 0; }

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey; }

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: white; }

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb; }

body > .select2-container {
  z-index: 9999999; }

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07); }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #5b9dd9; }

.select2-results__option {
  margin-bottom: 0; }

.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_border-radius + label,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_border-radius ~ .color-group,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_background-image,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_background-style {
  display: none; }

.vc_ui-panel-window[data-vc-shortcode="vc_section"] .wpb_el_type_css_editor .vc_border-radius + label,
.vc_ui-panel-window[data-vc-shortcode="vc_section"] .wpb_el_type_css_editor .vc_border-radius ~ .color-group,
.vc_ui-panel-window[data-vc-shortcode="vc_section"] .wpb_el_type_css_editor .vc_background-image,
.vc_ui-panel-window[data-vc-shortcode="vc_section"] .wpb_el_type_css_editor .vc_background-style {
  display: none; }

/***********************************
META
***********************************/
.grooni-metabox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .grooni-metabox * {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

.grooni-metabox-row {
  padding-top: 15px;
  padding-bottom: 20px; }

.grooni-metabox-row + .grooni-metabox-row {
  border-top: 1px solid silver; }

.grooni-metabox-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600; }

.grooni-metabox-title p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400; }

/***************************************
META SWITCH UI
***************************************/
.grooni-metabox-field input[type='checkbox'] {
  position: relative;
  display: inline-block;
  width: 6em;
  height: 3.1em;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: padding 0.25s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: padding 0.25s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s, 0s;
          transition-delay: 0.1s, 0s;
  text-align: start;
  vertical-align: middle;
  border: none;
  border-radius: 1.55em;
  outline: 1px solid transparent !important;
  background: #ccc;
  -webkit-box-shadow: inset 0 0 0 0.2em darkgrey;
          box-shadow: inset 0 0 0 0.2em darkgrey;
  font-size: 9px;
  line-height: 3.1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }
  .grooni-metabox-field input[type='checkbox']:checked {
    padding-right: 2.9em !important;
    -webkit-transition-delay: 0s, 0s;
            transition-delay: 0s, 0s;
    -webkit-box-shadow: inset 0 0 0 1.77143em #448aff !important;
            box-shadow: inset 0 0 0 1.77143em #448aff !important; }
    .grooni-metabox-field input[type='checkbox']:checked::before {
      font-size: 9px; }
  .grooni-metabox-field input[type='checkbox'].hit {
    -webkit-animation: slide-off 0.35s ease both;
            animation: slide-off 0.35s ease both; }
  .grooni-metabox-field input[type='checkbox'].hit:checked {
    -webkit-animation: slide-on 0.35s ease both 0.05s;
            animation: slide-on 0.35s ease both 0.05s; }
  .grooni-metabox-field input[type='checkbox']::before, .grooni-metabox-field input[type='checkbox']::after {
    content: ''; }
  .grooni-metabox-field input[type='checkbox']::after {
    position: absolute;
    top: -0.9em;
    left: -0.9em;
    bottom: -0.9em;
    right: -0.9em; }
  .grooni-metabox-field input[type='checkbox']::before {
    display: inline-block;
    width: 2.7em;
    height: 2.7em;
    margin: 0.2em 0.2em 0 0;
    -webkit-transition: all 0.1s ease 0.1s;
    transition: all 0.1s ease 0.1s;
    border-radius: 1.35em;
    background-color: #fff;
    -webkit-box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1); }
  .grooni-metabox-field input[type='checkbox']:active::before {
    -webkit-transition: all 0.1s ease 0.05s;
    transition: all 0.1s ease 0.05s; }
  .grooni-metabox-field input[type='checkbox'].touch:hover::before {
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s; }
  .grooni-metabox-field input[type='checkbox']:active::before, .grooni-metabox-field input[type='checkbox'].touch:hover::before {
    width: 3.5em; }
  .grooni-metabox-field input[type='checkbox']:active:checked::before, .grooni-metabox-field input[type='checkbox'].touch:hover:checked::before {
    margin-right: -0.6em; }

@-webkit-keyframes slide-on {
  0% {
    padding-right: 0; }
  60% {
    padding-right: 3.3em; }
  100% {
    padding-right: 2.9em; } }

@keyframes slide-on {
  0% {
    padding-right: 0; }
  60% {
    padding-right: 3.3em; }
  100% {
    padding-right: 2.9em; } }

@-webkit-keyframes slide-off {
  0% {
    padding-right: 2.9em;
    text-indent: 0; }
  60% {
    padding-right: 0;
    text-indent: -0.4em; }
  100% {
    padding-right: 0;
    text-indent: 0; } }

@keyframes slide-off {
  0% {
    padding-right: 2.9em;
    text-indent: 0; }
  60% {
    padding-right: 0;
    text-indent: -0.4em; }
  100% {
    padding-right: 0;
    text-indent: 0; } }

/***************************************
META SELECT UI
***************************************/
.grooni-metabox-field .select-hidden {
  display: none;
  visibility: hidden;
  padding-left: 10px; }

.grooni-metabox-field .select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  height: 40px;
  color: #555;
  border: 1px solid #ddd;
  font-size: 16px; }

.grooni-metabox-field .select-styled {
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px 15px 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #fff; }
  .grooni-metabox-field .select-styled::after {
    position: absolute;
    top: 16px;
    left: 10px;
    width: 0;
    height: 0;
    content: '';
    border: 7px solid;
    border-color: #555 transparent transparent transparent; }
  .grooni-metabox-field .select-styled:hover {
    background-color: #fafafa; }
  .grooni-metabox-field .select-styled:active::after, .grooni-metabox-field .select-styled.active::after {
    top: 9px;
    border-color: transparent transparent #555 transparent; }
[dir='rtl'] .grooni-metabox-field .select-styled::after {
  right: auto; }
.grooni-metabox-field .select-options {
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  overflow-y: auto;
  max-height: 236px;
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  outline: 1px solid #ddd;
  background-color: #fff; }
  .grooni-metabox-field .select-options li {
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6; }
    .grooni-metabox-field .select-options li:hover {
      color: #fff;
      background: #448aff; }

/***************************************
META RADIO/CHECKBOX UI
***************************************/
.crane-radio-group .crane-checkbox,
.crane-radio-group .crane-radio {
  outline: none; }

.crane-radio-group .crane-label--checkbox,
.crane-radio-group .crane-label--radio {
  position: relative;
  margin: 0.5rem;
  line-height: 135%;
  cursor: pointer; }

.crane-radio-group .crane-label--radio > input {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.crane-radio-group .crane-label--radio > input,
.crane-radio-group .crane-label--radio > span {
  display: inline-block; }

.crane-radio-group .crane-checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 0 0 1rem;
  cursor: pointer; }

.crane-radio-group .crane-checkbox::before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(45deg) scale(0, 0);
          transform: rotate(45deg) scale(0, 0);
  content: "";
  position: absolute;
  right: 0.1875rem;
  top: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.375rem;
  border: 2px solid #448aff;
  border-top-style: none;
  border-left-style: none; }

.crane-radio-group .crane-checkbox:checked::before {
  -webkit-transform: rotate(45deg) scale(1, 1);
          transform: rotate(45deg) scale(1, 1); }

.crane-radio-group .crane-checkbox::after {
  content: "";
  position: absolute;
  top: -0.125rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  cursor: pointer; }

/* radio */
.crane-radio-group input[type=radio].crane-radio {
  position: relative;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  border: none;
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
  line-height: normal; }

.crane-radio-group input[type=radio].crane-radio::before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0;
  right: 0.125rem;
  z-index: 1;
  width: 0.75rem;
  height: 0.75rem;
  background: #448aff;
  border-radius: 50%; }

.crane-radio-group input[type=radio].crane-radio:checked::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  content: '';
  border-radius: 50%;
  margin: 0; }

.crane-radio-group input[type=radio].crane-radio::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  right: -0.125rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 50%; }

/***********************************
ADD MEDIA ON PORTFOLIO
***********************************/
.grooni-meta-field-file-tpl {
  display: none !important; }

.grooni-meta-field-file-container {
  margin-right: -5px;
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .grooni-meta-field-file-container .grooni-meta-field-file {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px; }

.grooni-meta-media-preview img {
  display: block;
  width: 100%;
  max-width: 220px;
  max-height: 220px;
  margin-bottom: 5px; }

.grooni-meta-field-file-add {
  display: block !important;
  width: 100%;
  max-width: 90px;
  margin-top: 30px !important;
  margin-right: 0 !important; }

.grooni-metabox-field input[type='text'],
.grooni-metabox-field textarea,
#postexcerpt textarea {
  display: block;
  width: 100%;
  padding: 12px 24px;
  -webkit-transition: border-color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
  color: #686868;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; }
  .grooni-metabox-field input[type='text']:focus,
  .grooni-metabox-field textarea:focus,
  #postexcerpt textarea:focus {
    border: 1px solid #c5c5c5;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.grooni-metabox-field input[type='text'] {
  max-width: 400px; }

.grooni-metabox-field textarea,
#postexcerpt textarea {
  overflow-y: auto;
  min-height: 100px; }

/***********************************
TAXONOMY META STYLES
***********************************/
.crane-hide_custom,
.crane-hide_sidebar,
.crane-hide_by_template,
.crane-hide_by_layout {
  display: none !important; }

/****************************
 Grooni Twitter Widget
*****************************/
.username-validator {
  padding: 0 12px; }

.gr_tw-user_valid {
  color: #2d7411;
  background-color: #d8fab0;
  font-weight: bold; }

.gr_tw-user_invalid,
.gr_widget_error {
  color: #7e0912;
  background-color: #fcbfc2;
  font-weight: bold; }

.crane-widget-banner {
  margin: 10px 0; }

.crane-widget-banner-img {
  width: 100%; }

.crane-banner-widget-upload-image {
  text-align: center; }

.wpb_el_type_grooni-uniq-id {
  display: none; }

#tgmpa-plugins .tgmpa-type-required > th {
  border-right: 3px solid #dc3232; }

.wp-admin.post-type-crane_footer #edit-slug-box {
  display: none; }

.hide,
.hidden {
  display: none; }

.show {
  display: block; }

.invisible {
  visibility: hidden !important;
  opacity: 0 !important; }

.visible {
  visibility: visible !important;
  opacity: 1 !important; }

.text-center {
  text-align: center; }

.crane-sb__add-new-wrapper {
  background: rgba(230, 230, 230, 0.45);
  margin: 20px 0;
  padding: 20px 10px;
  border: 1px solid #cdcdcd;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: -1px 1px 3px rgba(200, 200, 200, 0.45);
          box-shadow: -1px 1px 3px rgba(200, 200, 200, 0.45); }
  .crane-sb__add-new-wrapper input {
    margin-left: 15px;
    margin-right: 8px; }
  .crane-sb__add-new-wrapper label {
    font-weight: bold; }
  .crane-sb__add-new-wrapper .crane-sb__new-name {
    font-size: 150%;
    padding: 2px 10px; }
  .crane-sb__add-new-wrapper .crane-sb__desc {
    margin: 10px auto; }

.sidebar-crane-custom-sidebar {
  position: relative; }
  .sidebar-crane-custom-sidebar .crane-sb__btn-delete {
    border: 1px solid #858585;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 40px;
    height: 26px;
    width: 26px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5; }
  .sidebar-crane-custom-sidebar .crane-sb__btn-edit {
    border: 1px solid #858585;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 70px;
    height: 26px;
    width: 26px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5; }
  .sidebar-crane-custom-sidebar .crane-sb__btn-delete:hover {
    opacity: 1;
    color: #f00; }
  .sidebar-crane-custom-sidebar .crane-sb__btn-delete::before {
    content: '\f158';
    width: 26px;
    height: 26px;
    font-size: 20px;
    line-height: 26px;
    font-family: dashicons;
    vertical-align: top; }
  .sidebar-crane-custom-sidebar .crane-sb__btn-edit:hover {
    opacity: 1;
    color: #000e64; }
  .sidebar-crane-custom-sidebar .crane-sb__btn-edit::before {
    content: '\f464';
    width: 26px;
    height: 26px;
    font-size: 20px;
    line-height: 26px;
    font-family: dashicons;
    vertical-align: top; }

.crane-custom_category__color {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 10px 0 0; }
  .crane-custom_category__color.hide {
    display: none; }
  .crane-custom_category__color .crane-custom_category__color_item {
    min-height: 30px;
    margin: 0 12px;
    float: right; }

/***********************************
ADD MEDIA ON TAXONOMY
***********************************/
.crane-form-meta-type__number-value {
  width: 80px !important;
  text-align: center; }

.crane-form-meta-type__padding .crane-form-meta-type__padding-values {
  display: inline; }

.crane-form-meta-type__padding .crane-form-meta-type__padding-value--top,
.crane-form-meta-type__padding .crane-form-meta-type__padding-value--bottom {
  width: 80px !important; }

.crane-debug-log-hidden {
  display: none !important; }

.crane-debug-container {
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px 12px;
  background: #eee; }

.crane-debug-body > h2 {
  text-align: center;
  font-size: 200%; }

.crane-debug-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ddd;
  margin-top: 8px;
  padding: 10px 16px;
  background: #fff; }

.crane-debug-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .crane-debug-section-list .crane-elem-index,
  .crane-debug-section-list .crane-elem-value {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.crane-debug-section-list-item {
  padding: 5px 0;
  border-bottom: 1px dotted #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.crane-debug-log-block-wrapper {
  display: block;
  border: 1px solid #aaa;
  background: #d8d8d8;
  padding: 20px 10px; }

.crane-debug-log-block-title {
  text-align: center;
  font-size: 150%;
  margin: 20px 0;
  border-bottom: 1px dashed #888;
  padding-bottom: 8px; }

.crane-debug-log-block-title span {
  font-weight: 700; }

.crane-debug-log-item .num {
  padding: 0 0 0 20px; }

/* adjust SVG images when displayed inside media library column view */
table.media .column-title .media-icon img[src*='.svg'] {
  width: 100%;
  height: auto; }

td.media-icon img[src$=".svg"],
img[src$=".svg"].attachment-post-thumbnail {
  width: 100% !important;
  height: auto !important; }
