@charset "UTF-8";
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-right: 0;
  margin-right: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  right: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    right: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: right; }

.fa-pull-right {
  float: left; }

.fa.fa-pull-left {
  margin-left: .3em; }

.fa.fa-pull-right {
  margin-right: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: left; }

.pull-left {
  float: right; }

.fa.pull-left {
  margin-left: .3em; }

.fa.pull-right {
  margin-right: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper-pp:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.fa-gitlab:before {
  content: ""; }

.fa-wpbeginner:before {
  content: ""; }

.fa-wpforms:before {
  content: ""; }

.fa-envira:before {
  content: ""; }

.fa-universal-access:before {
  content: ""; }

.fa-wheelchair-alt:before {
  content: ""; }

.fa-question-circle-o:before {
  content: ""; }

.fa-blind:before {
  content: ""; }

.fa-audio-description:before {
  content: ""; }

.fa-volume-control-phone:before {
  content: ""; }

.fa-braille:before {
  content: ""; }

.fa-assistive-listening-systems:before {
  content: ""; }

.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: ""; }

.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: ""; }

.fa-glide:before {
  content: ""; }

.fa-glide-g:before {
  content: ""; }

.fa-signing:before,
.fa-sign-language:before {
  content: ""; }

.fa-low-vision:before {
  content: ""; }

.fa-viadeo:before {
  content: ""; }

.fa-viadeo-square:before {
  content: ""; }

.fa-snapchat:before {
  content: ""; }

.fa-snapchat-ghost:before {
  content: ""; }

.fa-snapchat-square:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-first-order:before {
  content: ""; }

.fa-yoast:before {
  content: ""; }

.fa-themeisle:before {
  content: ""; }

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: ""; }

.fa-fa:before,
.fa-font-awesome:before {
  content: ""; }

.fa-handshake-o:before {
  content: ""; }

.fa-envelope-open:before {
  content: ""; }

.fa-envelope-open-o:before {
  content: ""; }

.fa-linode:before {
  content: ""; }

.fa-address-book:before {
  content: ""; }

.fa-address-book-o:before {
  content: ""; }

.fa-vcard:before,
.fa-address-card:before {
  content: ""; }

.fa-vcard-o:before,
.fa-address-card-o:before {
  content: ""; }

.fa-user-circle:before {
  content: ""; }

.fa-user-circle-o:before {
  content: ""; }

.fa-user-o:before {
  content: ""; }

.fa-id-badge:before {
  content: ""; }

.fa-drivers-license:before,
.fa-id-card:before {
  content: ""; }

.fa-drivers-license-o:before,
.fa-id-card-o:before {
  content: ""; }

.fa-quora:before {
  content: ""; }

.fa-free-code-camp:before {
  content: ""; }

.fa-telegram:before {
  content: ""; }

.fa-thermometer-4:before,
.fa-thermometer:before,
.fa-thermometer-full:before {
  content: ""; }

.fa-thermometer-3:before,
.fa-thermometer-three-quarters:before {
  content: ""; }

.fa-thermometer-2:before,
.fa-thermometer-half:before {
  content: ""; }

.fa-thermometer-1:before,
.fa-thermometer-quarter:before {
  content: ""; }

.fa-thermometer-0:before,
.fa-thermometer-empty:before {
  content: ""; }

.fa-shower:before {
  content: ""; }

.fa-bathtub:before,
.fa-s15:before,
.fa-bath:before {
  content: ""; }

.fa-podcast:before {
  content: ""; }

.fa-window-maximize:before {
  content: ""; }

.fa-window-minimize:before {
  content: ""; }

.fa-window-restore:before {
  content: ""; }

.fa-times-rectangle:before,
.fa-window-close:before {
  content: ""; }

.fa-times-rectangle-o:before,
.fa-window-close-o:before {
  content: ""; }

.fa-bandcamp:before {
  content: ""; }

.fa-grav:before {
  content: ""; }

.fa-etsy:before {
  content: ""; }

.fa-imdb:before {
  content: ""; }

.fa-ravelry:before {
  content: ""; }

.fa-eercast:before {
  content: ""; }

.fa-microchip:before {
  content: ""; }

.fa-snowflake-o:before {
  content: ""; }

.fa-superpowers:before {
  content: ""; }

.fa-wpexplorer:before {
  content: ""; }

.fa-meetup:before {
  content: ""; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

#wpcontent {
  padding-left: 14px !important;
  padding-right: 14px !important; }

.crane-dashboard * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.crane-dashboard {
  margin-top: 24px; }

.crane-dashboard-link img {
  width: 88px; }

.crane-dashboard__theme-logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.crane-dashboard-logo {
  max-width: 255px;
  width: 100%;
  height: auto; }

.crane-dashboard__header {
  position: relative;
  background: url(../images/wp/redux-dashboard-header-bg.png) center no-repeat;
  background-size: cover; }

.crane-dashboard__header__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 143px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (max-width: 768px) {
  .crane-dashboard__header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .crane-dashboard-logo {
    max-width: 185px; } }

#crane-dashboard-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(38, 38, 38, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #crane-dashboard-search label {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    -ms-flex-item-align: center;
        align-self: center; }
  #crane-dashboard-search input {
    margin: 0;
    padding: 8px 15px;
    color: #2e2e2e;
    border: 1px solid #868686;
    background-color: #e7e7e7;
    font-size: 16px;
    font-weight: 400; }
  #crane-dashboard-search button {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #93cb52;
    font-size: 15px;
    font-weight: 700;
    line-height: 38px; }

@media (min-width: 769px) {
  .crane-dashboard-link {
    position: absolute;
    top: 50%;
    left: 35px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  #crane-dashboard-search input {
    width: 61.62%; }
  #crane-dashboard-search label {
    margin-left: 17px; }
  #crane-dashboard-search button {
    width: 136px;
    margin-right: 6px; } }

@media (max-width: 768px) {
  #crane-dashboard-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px; }
    #crane-dashboard-search label,
    #crane-dashboard-search input {
      margin-bottom: 20px; }
    #crane-dashboard-search input {
      padding-top: 12px;
      padding-bottom: 12px; }
    #crane-dashboard-search button {
      padding: 6px; } }

#crane-dashboard-search input::-webkit-input-placeholder {
  color: #2e2e2e; }

#crane-dashboard-search input:-moz-placeholder {
  /* Firefox 18- */
  color: #2e2e2e; }

#crane-dashboard-search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2e2e2e; }

#crane-dashboard-search input:-ms-input-placeholder {
  color: #2e2e2e; }

.crane-dashboard__body {
  margin-top: 19px;
  overflow: hidden; }

.crane-dashboard__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 15px 58px 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 3px 7px rgba(42, 42, 42, 0.08);
          box-shadow: 0 3px 7px rgba(42, 42, 42, 0.08);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.crane-dashboard__info-box__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 23px;
  color: #8ec44e;
  font-size: 36px;
  font-weight: 700;
  line-height: 1; }

.crane-dashboard__info-box__txt {
  max-width: 1000px;
  margin: 0;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; }

.crane-dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.crane-dashboard-tile {
  margin-bottom: 18px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 769px) and (max-width: 1000px) {
  .crane-dashboard-tile {
    width: 50%; } }

@media (min-width: 1001px) {
  .crane-dashboard-tile {
    width: 33.33%; } }

.crane-dashboard-tile__inner {
  padding: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(42, 42, 42, 0.26);
          box-shadow: 0 3px 6px rgba(42, 42, 42, 0.26);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.crane-dashboard-tile__info-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px; }

.crane-dashboard-tile__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 27%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.crane-dashboard-tile__icon-wrapper .fa {
  display: block;
  color: #80848b;
  font-size: 55px; }

.crane-dashboard-tile__header {
  margin-top: 35px;
  margin-bottom: 10px;
  color: #8ec44e;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px; }

.crane-dashboard-tile__txt {
  margin-top: 0;
  margin-bottom: 20px;
  color: #323232;
  font-size: 14px;
  font-weight: 400; }

.crane-dashboard-tile__link {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 9px;
  padding: 9px 16px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #575a60;
  border: 2px solid #d4d4d4;
  background-color: #f3f3f3;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4; }
  .crane-dashboard-tile__link:hover {
    color: inherit; }

.crane-theme_page_crane-theme-addons {
  background-color: #e7e7e7;
  font-family: 'Open Sans', sans-serif; }

.crane-addons {
  margin-top: 50px; }
  .crane-addons * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .crane-addons__body {
    overflow-x: hidden; }

.crane-addons-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-left: -8px;
  margin-right: -8px; }

.crane-addons-list-header {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 30px 16px 22px;
  -webkit-box-shadow: -2px 3px 7px rgba(42, 42, 42, 0.08);
          box-shadow: -2px 3px 7px rgba(42, 42, 42, 0.08);
  background-color: #f9f9f9;
  margin-top: 14px;
  margin-bottom: 17px; }

.crane-addons-list--free .crane-addons-list-header {
  padding: 32px 16px 33px; }

.crane-addons-list-title {
  color: #8ec44e;
  font-size: 36px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 17px; }

.crane-addons-list-subtitle {
  opacity: 0.88;
  color: #2f2e2e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0; }
  .crane-addons-list-subtitle span {
    font-weight: 700; }

.crane-addons-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: 16px;
  width: 100%; }

@media (min-width: 600px) {
  .crane-addons-tile {
    width: 50%; } }

@media (min-width: 1600px) {
  .crane-addons-tile {
    width: 25%; } }

.crane-addons-tile__inner {
  width: 100%;
  padding: 50px 35px 30px 23px;
  -webkit-box-shadow: 0 3px 6px rgba(42, 42, 42, 0.26);
          box-shadow: 0 3px 6px rgba(42, 42, 42, 0.26);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.crane-addons-tile__cover-img {
  width: 84px;
  height: 84px;
  background-color: #f0f0f0;
  margin-left: 32px;
  margin-bottom: 16px; }

.crane-addons-tile__cover-txt {
  max-width: 100%; }

@media (max-width: 1100px) {
  .crane-addons-tile__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .crane-addons-tile__icon-wrapper {
    margin-bottom: 16px; } }

@media (min-width: 1101px) {
  .crane-addons-tile__icon-wrapper {
    margin-left: 32px; } }

.crane-addons-tile__info-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.crane-addons-tile__header {
  margin-top: 0;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px; }

.crane-addons-tile__txt {
  margin-top: 0;
  font-size: 14px;
  color: #737373; }

.crane-addons-tile__action {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  padding: 0 16px;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto; }
  .crane-addons-tile__action.crane-addons-tile__active, .crane-addons-tile__action.crane-addons-tile__can-conflict {
    border: 2px solid #d4d4d4;
    background-color: #f3f3f3;
    color: #575a60;
    font-size: 13px;
    font-weight: 700;
    cursor: default; }
  .crane-addons-tile__action.crane-addons-tile__link {
    border: 2px solid #93cb52;
    background-color: #93cb52;
    color: #fff;
    cursor: pointer; }
  .crane-addons-tile__action a,
  .crane-addons-tile__action span {
    padding: 0 10px;
    text-align: center;
    color: inherit !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    position: relative;
    -webkit-transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
    width: inherit; }
  .crane-addons-tile__action a {
    text-decoration: none; }
    .crane-addons-tile__action a:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }

.crane-addons-tile__can-conflict span {
  pointer-events: none; }

.crane-addons-tile__can-conflict i {
  font-size: 20px; }

.ct-tooltip {
  position: fixed;
  background: #616161;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 16px;
  text-transform: initial;
  -webkit-transition: all 0.15s cubic-bezier(0.25, 0.8, 0.5, 1);
  transition: all 0.15s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: auto;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

/***********************************
THEME IMPORTER
***********************************/
#crane-import {
  width: 100%;
  display: block; }

.crane-admin-import {
  padding: 50px 30px 74px;
  min-height: 288px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (max-width: 768px) {
  .crane-admin-import {
    padding: 30px 15px 44px; } }

.crane-import-alpha {
  margin: 0;
  color: #383838;
  font-size: 18px;
  font-weight: 700; }

.crane-import-txt {
  margin-top: 23px;
  margin-bottom: 39px;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

.crane-import-selector-main {
  margin-bottom: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .crane-import-selector-main label {
    font-size: 15px;
    font-weight: bold; }
  .crane-import-selector-main label:not(:last-of-type) {
    margin-bottom: 25px; }

.crane-import-selector {
  padding-top: 24px;
  border: 1px solid #d8d8d8;
  background-color: #fcfcfc;
  -webkit-box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
          box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.crane-import-selector:not(.crane-import-selector-main) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 768px) {
  .crane-import-selector {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; } }

.crane-import-selector > * {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 25px; }

.crane-import-progress-bar-container {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: visibility linear 0.2s, opacity linear 0.2s;
  transition: visibility linear 0.2s, opacity linear 0.2s; }

.crane-import-progress-bar-container.importing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1;
  width: 100%; }

.import-result,
.crane-import-progress-bar-warning {
  width: 100%;
  padding: 24px;
  border: 1px solid #d8d8d8;
  background-color: #fcfcfc;
  -webkit-box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
          box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26); }

.import-result {
  display: none; }

.import-result h3,
.crane-import-progress-bar-warning h3 {
  font-size: 28px;
  text-align: center;
  line-height: 1.2; }

.import-result p,
.crane-import-progress-bar-warning p {
  font-size: 16px;
  text-align: center; }

.crane-import-selector-title {
  color: #2f2e2e;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px; }

.crane-admin-import-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 43px; }

.crane-admin-import-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -7px;
  margin-right: -7px;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.crane-import-page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  padding: 0 7px; }

.crane-import-done {
  opacity: 0.5;
  cursor: not-allowed; }
  .crane-import-done .crane-import-page-btn-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.crane-admin-page--all-done::before {
  content: '';
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  opacity: 0.7;
  background: #fff; }

.crane-admin-page--all-done .crane-import-page-btn {
  display: none; }

.crane-import-all-notice {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  z-index: 100;
  position: fixed;
  max-width: 700px;
  width: 90%;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border: 1px solid #d8d8d8;
  background-color: #fcfcfc;
  -webkit-box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
          box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px; }
  .crane-import-all-notice p {
    font-size: 18px; }

@media (max-width: 768px) {
  .crane-import-all-notice {
    padding: 20px; } }

@media (max-width: 1200px) {
  .crane-import-page {
    width: 25%; } }

@media (max-width: 1024px) {
  .crane-import-page {
    width: 33.33%; } }

@media (max-width: 900px) {
  .crane-import-page {
    width: 50%; } }

@media (max-width: 600px) {
  .crane-import-page {
    width: 100%; } }

.crane-import-page-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
  -webkit-transition: -webkit-box-shadow linear 0.2s;
  transition: -webkit-box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s;
  transition: box-shadow linear 0.2s, -webkit-box-shadow linear 0.2s;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.crane-import-page:not(.crane-import-done) .crane-import-page-inner:hover .crane-import-page-content,
.crane-import-page:not(.crane-import-done) .crane-import-page-inner:hover .crane-import-page-overlay {
  visibility: visible;
  opacity: 1; }

.crane-import-page-inner.selected {
  -webkit-box-shadow: 0 0 4px 2px #93cb52;
          box-shadow: 0 0 4px 2px #93cb52; }

.crane-import-page-overlay {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity ease 0.3s, visibility ease 0.3s;
  transition: opacity ease 0.3s, visibility ease 0.3s;
  opacity: 0;
  background-color: rgba(6, 6, 6, 0.68); }

.crane-import-page-img {
  width: 100%;
  height: auto; }

.crane-import-page-content {
  position: absolute;
  top: 50%;
  right: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 84.025%;
  max-width: 246px;
  -webkit-transition: opacity ease 0.3s, visibility ease 0.3s;
  transition: opacity ease 0.3s, visibility ease 0.3s;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.crane-import-page-title {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px; }

.crane-import-page-content-divider {
  width: 27px;
  height: 3px;
  margin-top: 30px;
  margin-bottom: 41px;
  background-color: #93cb52; }

.crane-import-page-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .crane-import-page-btn-group .crane-import-page-btn {
    width: 115px; }

@media (max-width: 768px) {
  .crane-import-page-btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.crane-import-page-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px 0;
  padding: 0 16px;
  height: 42px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.crane-import-page-preview-btn {
  color: #575a60;
  background-color: #f3f3f3; }
  .crane-import-page-preview-btn:hover {
    color: inherit; }

.crane-import-page-select-btn {
  color: #fff;
  background-color: #93cb52; }

.crane-import__confirm-cancel-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 500px) {
    .crane-import__confirm-cancel-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .crane-import__confirm-cancel-group > * {
        margin-bottom: 24px; } }

.crane-import-page-import-selected {
  margin-left: 16px;
  color: #fff;
  background-color: #93cb52; }

.crane-import-page-import-cancel {
  background-color: #fff;
  color: #000;
  display: none !important; }

.crane-import-page-import-selected,
.crane-import-page-import-cancel {
  text-transform: uppercase;
  font-size: 14px;
  height: 44px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.crane-import-page-import-selected:disabled,
.crane-import-page-import-cancel:disabled {
  cursor: not-allowed;
  color: #f8f8f8;
  border-radius: 0;
  background-color: #9e9e9e;
  -webkit-box-shadow: none;
          box-shadow: none; }

@media (min-width: 1812px) {
  .crane-import-page-btn-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.crane-import-page-confirm-text p {
  margin-top: 0;
  margin-bottom: 16px;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }
  .crane-import-page-confirm-text p:last-child {
    margin-bottom: 36px; }

.crane-import-progress-bar-wrapper {
  height: 85px;
  background-color: #e7e7e7;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px; }

.crane-import-progress-bar-bg {
  background-color: #fff;
  border-radius: 3px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%; }

.import-progress-bar-info {
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 100%; }

.crane-import-progress-bar-inner {
  width: 93%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#import-progress-bar {
  position: relative;
  height: 20px;
  border-radius: 3px;
  background-image: linear-gradient(-45deg, #fff 33%, rgba(147, 203, 82, 0.5) 33%, #93cb52 66%, #fff 66%);
  -webkit-animation: animate-stripes 2.2s linear infinite;
          animation: animate-stripes 2.2s linear infinite;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  -webkit-transition: width ease-in 0.3s;
  transition: width ease-in 0.3s; }

@-webkit-keyframes animate-stripes {
  100% {
    background-position: 105px 0; } }

@keyframes animate-stripes {
  100% {
    background-position: 105px 0; } }

.import-progress-bar-percentage {
  font-weight: bold;
  margin-right: 5px; }

/***********************************
Typography
***********************************/
@font-face {
  font-family: 'montserratbold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"); }

.redux-container {
  background-color: #fff;
  background-image: none;
  -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 #fff inset, 0 1px 5px rgba(0, 0, 0, 0.1); }

.redux-container #redux-intro-text,
#redux-sub-footer {
  display: none; }

.redux-sidebar .redux-group-menu li.active a,
.redux-sidebar .redux-group-menu li.active a:hover,
.redux-sidebar .redux-group-menu li.activeChild a,
.redux-sidebar .redux-group-menu li.activeChild a:hover {
  width: 244px;
  background-color: #93cb52; }

.redux-main {
  margin-right: 244px;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .redux-main .button .wp-color-result-text {
    height: 28px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    line-height: 30px; }
  .redux-main .redux-field .add-on {
    height: 22px;
    line-height: 22px; }
  .redux-main .redux-field input[type="text"] {
    border-color: #ccc; }
  .redux-main .redux-group-tab .button {
    border-color: #ccc; }

.redux-sidebar {
  width: 244px; }

.redux-sidebar .redux-group-tab-link-a i {
  color: #ababab; }

.redux-container .sticky-footer-fixed {
  border-top: none !important; }

#info-footer-custom-info {
  position: relative;
  right: -20px;
  width: 100%;
  margin-top: -1px;
  padding: 8px 20px;
  color: #c09853;
  border: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background: #fcf8e3;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-weight: 600; }

#info-footer-custom-info p {
  margin: 0;
  padding: 0; }

/***************************************
REDUX HEADER
***************************************/
.redux-theme-logo {
  float: right;
  max-width: 174px;
  height: auto; }

.redux-sidebar .redux-group-menu li a {
  color: #323232;
  border-bottom-color: #ededed;
  background-color: #fdfdfd;
  font-weight: 400;
  opacity: 1; }

.redux-sidebar .redux-group-menu li a i.fa {
  font-size: 18px; }

.redux-sidebar .redux-group-tab-link-a span.group_title {
  padding-right: 32px; }

.redux-container #redux-header {
  position: relative;
  height: 82px;
  border-bottom: 3px solid #93cb52;
  background: url(../images/wp/redux-header.jpg) center no-repeat;
  background-size: cover; }

.redux-container #redux-header .display_header span.redux-dev-mode-notice,
.redux-timer {
  display: none !important; }

.redux-header-link {
  position: absolute;
  top: 50%;
  left: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.redux-container #redux-header .display_header h2 {
  display: none; }

.redux-container .crane-theme-version {
  top: 18px; }

/***************************************
REDUX SIDEBAR
***************************************/
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
  text-shadow: none;
  background-color: #ededed; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
  text-shadow: none;
  background-color: #93cb52 !important; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a,
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
  padding: 10px 14px 10px 4px; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a {
  background-color: #474747; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover,
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li a:hover,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li a:hover {
  color: #93cb52;
  background-color: #505050; }

.redux-sidebar .redux-group-menu li a:hover {
  color: #323232;
  background-color: #ededed; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections .active a::after,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a::after,
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections .active a::after,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a::after {
  content: none; }

.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
  text-shadow: none; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a,
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a {
  color: #323232;
  font-weight: 400; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a i.fa,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a i.fa,
.wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a i.fa,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections a i.fa {
  color: #ababab; }

.redux-sidebar .redux-group-menu li.active a:hover,
.redux-sidebar .redux-group-menu li.activeChild a,
.redux-sidebar .redux-group-menu li.activeChild a:hover {
  background-color: #93cb52; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active a,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a,
.wp-customizer .redux-sidebar .redux-group-menu li.active a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild a {
  color: #fff; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a,
.wp-customizer .redux-sidebar .redux-group-menu li.active a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild a {
  color: #fff; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.active a i,
.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild a i,
.wp-customizer .redux-sidebar .redux-group-menu li.active a i,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild a i {
  color: #fff; }

.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
  text-shadow: none; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a i,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a i {
  color: #fff; }

/***************************************
REDUX CONTENT
***************************************/
.redux-container .redux-main {
  margin-right: 244px; }

.redux-sidebar .redux-menu-warning i,
.redux-sidebar .redux-menu-error i,
.redux-sidebar .hasSubSections .extraIconSubsections i {
  display: none; }

.admin-color-fresh .redux-sidebar .redux-group-menu li.hasSubSections a .extraIconSubsections,
.wp-customizer .redux-sidebar .redux-group-menu li.hasSubSections a .extraIconSubsections {
  width: 10px;
  height: 6px;
  margin-left: 0;
  border: none;
  border-radius: 0;
  background: url(../images/wp/redux-sidebar-dropdown.svg) center no-repeat; }

.redux-container #info_bar {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none; }

.redux-main #redux-sticky #info_bar {
  height: 52px; }

.redux-main #redux-sticky #info_bar .expand_options {
  margin-top: 11px;
  margin-bottom: 11px; }

.redux-action_bar input#redux_save {
  padding: 6px 25px;
  height: auto;
  color: #fff;
  border-radius: 0;
  background-color: #93cb52;
  font-size: 13px;
  font-weight: 700;
  text-shadow: none;
  border: 2px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc; }

.redux-action_bar input#redux-defaults-section,
.redux-action_bar input#redux-defaults {
  height: auto;
  padding: 6px 25px;
  color: #575a60;
  border: 2px solid #d4d4d4;
  border-radius: 0;
  background-color: #f3f3f3;
  font-size: 13px;
  font-weight: 700; }

.redux-main .button {
  margin-top: 0; }

.redux-container .expand_options {
  width: auto;
  height: auto;
  text-indent: 0;
  color: #ababab;
  border: none;
  border-radius: 0;
  background: none;
  font-size: 18px;
  line-height: 1; }

.redux-container .expand_options.expanded {
  background: none; }

.crane-backup_btn_restore.hidden {
  display: none; }

/***************************************
REDUX FOOTER
***************************************/
.redux-container #redux-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: none; }

/***************************************
REDUX SWITCH
***************************************/
.admin-color-fresh .redux-container-switch .cb-enable.selected,
.admin-color-fresh .redux-field-container .ui-buttonset .ui-state-active,
.wp-customizer .redux-container-switch .cb-enable.selected,
.wp-customizer .redux-field-container .ui-buttonset .ui-state-active {
  border: 1px solid #30a6d2 !important;
  background-color: #30a6d2 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.redux-container-switch .cb-enable {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.redux-container-switch .cb-disable {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.admin-color-fresh .redux-container-switch .cb-disable,
.admin-color-fresh .redux-container-switch .cb-enable,
.admin-color-fresh .ui-state-default,
.admin-color-fresh .ui-widget-content .ui-state-default,
.admin-color-fresh .ui-widget-header .ui-state-default,
.wp-customizer .redux-container-switch .cb-disable,
.wp-customizer .redux-container-switch .cb-enable,
.wp-customizer .ui-state-default,
.wp-customizer .ui-widget-content .ui-state-default,
.wp-customizer .ui-widget-header .ui-state-default {
  border: 1px solid #ccc !important;
  background-color: #fafafa !important;
  background-image: none !important; }

.redux-container-switch .cb-enable,
.redux-container-switch .cb-disable {
  padding: 0 10px; }

.redux-container-switch .cb-enable,
.redux-container-switch .cb-disable,
.redux-container-switch .cb-enable span,
.redux-container-switch .cb-disable span {
  font-size: 12px;
  font-weight: 700; }

.admin-color-fresh .redux-container-switch .cb-disable.selected,
.wp-customizer .redux-container-switch .cb-disable.selected {
  border: 1px solid #cdcdcd !important;
  background-color: #cdcdcd !important;
  background-image: none !important; }

.redux-container-switch .cb-enable:not(.selected) span,
.redux-container-switch .cb-disable span {
  color: #333 !important; }

/***************************************
Redux RGBa colorpicker
**************************************/
.sp-replacer {
  padding: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc;
  border: 1px solid #ccc; }

.wp-color-result:focus,
.wp-color-result:hover,
.sp-replacer:hover,
.sp-replacer.sp-active {
  background: #fafafa;
  border-color: #999;
  color: #222; }

.wp-color-result::after {
  border-radius: 3px 0 0 3px; }

.sp-dd {
  font-size: 11px;
  line-height: 22px;
  height: 22px;
  padding: 0 6px;
  border-right: 1px solid #ccc; }

.sp-preview {
  width: 30px;
  border: none;
  height: 22px;
  margin-left: 0; }

/***************************************
Dashboard
**************************************/
.crane-theme-version {
  position: relative;
  top: -16px;
  margin-right: 16px;
  color: #a0a5aa;
  font-family: 'montserratbold', sans-serif;
  font-size: 12px;
  font-weight: 700;
  min-width: 140px; }

.crane-dashboard .crane-theme-version {
  top: -4px; }

.rAds {
  display: none !important; }

/***************************************
Add custom images sizes
**************************************/
.crane-add-image-sizes-group {
  margin-bottom: 20px; }
  .crane-add-image-sizes-group .crane-add-image-size-group-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .crane-add-image-sizes-group label {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .crane-add-image-sizes-group label input {
      margin-right: 10px;
      margin-left: 10px; }

.qtip-content {
  padding: 10px 12px; }

.qtip-title,
.qtip-content {
  font-size: 16px;
  line-height: 1.4; }

.redux-container .redux-main .form-table tr:last-of-type .redux-field-container {
  padding: 5px 0; }

/***************************************
CODEMIRROR styles
***************************************/
.redux-container .CodeMirror {
  border: 1px solid #dbdbdb; }

.crane-import-log {
  margin-top: 20px; }

.crane-import-log-inner {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding: 10px; }

.log-element span {
  display: inline-block; }

.log-element--index {
  margin-left: 5px; }

.log-element--status {
  font-weight: bold;
  margin-left: 5px; }

/***********************************
THEME ACTIVATION
***********************************/
.crane-admin-page {
  margin-top: 50px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  position: relative; }

.crane-admin-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 82px;
  padding: 6px 10px 6px 18px;
  border-bottom: 3px solid #93cb52;
  background: url(../images/wp/redux-header.jpg) center no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.crane-admin-header-logo-group img {
  max-width: 100%;
  max-height: 48px; }

.crane-activation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.crane-activation-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79%;
  height: 267px;
  margin: 10% auto;
  border: 1px solid #d8d8d8;
  background-color: #fcfcfc;
  -webkit-box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
          box-shadow: -1.5px 2.6px 6px rgba(42, 42, 42, 0.26);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.crane-activation-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.crane-activation-form * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.crane-activation-form > i {
  margin-left: 15px;
  color: #80848b;
  font-size: 83px; }

.crane-activation-from-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 501px;
  margin-left: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.crane-activation-label {
  margin-bottom: 10px;
  color: #333;
  font-size: 17px;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%; }

input.crane-activation-pass {
  height: 41px;
  margin: 0 0 0 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.crane-activation-save {
  width: 135px;
  height: 41px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  border: none;
  outline: none;
  background-color: #93cb52;
  font-size: 13px;
  font-weight: 700; }

.crane-activation-info {
  font-size: 13px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%; }
  .crane-activation-info i {
    position: relative;
    top: 2px;
    margin-left: 5px;
    color: #b3b3b3;
    font-size: 19px; }
