.alignfull {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center; }

.alignfull img {
  width: 100%; }

.alignwide {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 1025px) {
    .alignwide {
      width: 80vw;
      margin-left: -40vw; } }

.wp-block-cover.alignwide,
.wp-block-cover.alignfull,
.wp-block-gallery.alignwide,
.wp-block-gallery.alignfull {
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  padding: 0;
  width: 100%;
  max-width: 100%; }
  @media screen and (max-width: 1024px) {
    .wp-block-cover.alignwide,
    .wp-block-cover.alignfull,
    .wp-block-gallery.alignwide,
    .wp-block-gallery.alignfull {
      width: 100vw; } }

.wp-block-image.alignwide,
.wp-block-image.alignfull {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  position: inherit;
  padding-left: 0;
  padding-right: 0; }
  @media screen and (max-width: 1024px) {
    .wp-block-image.alignwide,
    .wp-block-image.alignfull {
      width: 100vw; } }

.alignwide img {
  width: 100%; }

.wp-block-media-text.alignwide .wp-block-media-text__media,
.wp-block-media-text.alignfull .wp-block-media-text__media {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  position: inherit; }

.wp-block-media-text.alignwide,
.wp-block-media-text.alignfull {
  padding-left: 0;
  padding-right: 0; }
  @media screen and (min-width: 1025px) {
    .wp-block-media-text.alignwide,
    .wp-block-media-text.alignfull {
      width: 100%;
      margin-left: -50%; } }

@media screen and (min-width: 1025px) {
  .crane-has-sidebar .wp-block-media-text.alignwide,
  .crane-has-sidebar .wp-block-media-text.alignfull {
    width: 100%;
    margin-left: -50%; } }

.wp-block-audio.aligncenter {
  text-align: center; }

.wp-block-columns.alignwide,
.wp-block-columns.alignfull {
  position: inherit;
  width: 100%; }
  @media screen and (min-width: 1025px) {
    .wp-block-columns.alignwide,
    .wp-block-columns.alignfull {
      width: 100%; } }

.wp-block-embed.alignwide,
.wp-block-embed.alignfull {
  position: inherit;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0; }

.wp-block-columns {
  margin-left: -15px;
  margin-right: -15px; }

.wp-block-column {
  padding-left: 15px;
  padding-right: 15px; }

.wp-block-pullquote {
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid; }

.editor-post-title__block .editor-post-title__input {
  color: #686868;
  font-family: "Open Sans", serif;
  text-transform: none;
  font-weight: 700;
  font-style: normal;
  font-size: 34px; }

.block-editor-rich-text {
  color: #686868;
  font-family: "Open Sans", serif;
  text-transform: initial;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  word-wrap: break-word; }

.block-editor-block-list__block[data-type="core/heading"] h1 {
  font-weight: 700;
  font-size: 34px; }

.block-editor-block-list__block[data-type="core/heading"] h2 {
  font-weight: 700;
  font-size: 31px; }

.block-editor-block-list__block[data-type="core/heading"] h3 {
  font-weight: 700;
  font-size: 23px; }

.block-editor-block-list__block[data-type="core/heading"] h4 {
  font-weight: 700;
  font-size: 20px; }

.block-editor-block-list__block[data-type="core/quote"] blockquote:not(.crane-blockquote-main):not(.wp-block-pullquote) {
  padding: 17px 0 20px 28px;
  border-left-width: 4px;
  border-left-style: solid;
  font-style: italic;
  border-left-color: #93cb52;
  color: #686868;
  font-family: "Open Sans", serif;
  text-transform: initial;
  font-weight: 400;
  font-size: 14px; }
  .block-editor-block-list__block[data-type="core/quote"] blockquote:not(.crane-blockquote-main):not(.wp-block-pullquote) .block-editor-rich-text {
    font-style: italic; }
  .block-editor-block-list__block[data-type="core/quote"] blockquote:not(.crane-blockquote-main):not(.wp-block-pullquote) .wp-block-quote__citation {
    text-transform: initial;
    font-weight: 400;
    font-style: italic;
    font-size: 14px; }

.block-editor-block-list__block[data-type="core/preformatted"] pre {
  color: #686868;
  background-color: #fbfbfb;
  border-color: #dbdbdb;
  padding: 15px;
  overflow: auto;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  margin: 0 0 1.5rem; }

.block-editor-block-list__block .wp-block-cover .block-editor-rich-text {
  color: #fff; }

.editor-block-list__block a,
.wp-block-categories a,
.editor-block-list__block a .tag-link-count {
  color: #85bf43;
  text-decoration: none; }

.editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link {
  background-color: #85bf43;
  color: #fff; }

.editor-block-list__block .wp-block-tag-cloud,
.editor-block-list__block .wp-block-latest-comments {
  font-family: "Open Sans", serif; }

.editor-block-list__block .wp-block-latest-comments__comment-excerpt {
  color: #686868; }

.editor-block-list__block ul.wp-block-archives-list {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0 0 1.5rem;
  color: #686868;
  padding-left: 0; }
  .editor-block-list__block ul.wp-block-archives-list li {
    margin-bottom: 15px;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent; }

.editor-block-list__block .wp-block-categories__list {
  list-style-type: none; }
  .editor-block-list__block .wp-block-categories__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0;
    padding: 10px 0;
    border-bottom: 1px dotted; }
  .editor-block-list__block .wp-block-categories__list li a {
    padding-left: 30px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative; }
  .editor-block-list__block .wp-block-categories__list li a::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 5px;
    height: 5px;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background-color: #686868; }
