<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<title>Carbooth Emailer</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light only">
<style type="text/css">
table {
	border-collapse: collapse;
}
h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0;
	padding: 0;
}
img, a img {
	border: 0;
	height: auto;
	outline: none;
	text-decoration: none;
}
body, #bodyTable, #bodyCell {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
}

@media (prefers-color-scheme:  light) {
html {
	background: #e7f0f8 !important;
	font-color: #3e4040 !important;
}
}
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center" style="background-color:#ffffff;">
  <table id="Table_01" width="650" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><img src="http://www.carbooth.co.za/assets/images/emailheader.jpg" width="650" height="241" alt=""/></td>
    </tr>
    <tr>
      <td style="padding:30px 20px 30px 20px;font-size:15px;color:#001843;font-family:Arial;line-height:20px;"><p>Hi {{username}} {{surname}},</p>
      <p>Please find your processed images attached in the email below.</p>
      <p>You have {{token_Count}} tokens left, please <a href="http://www.carbooth.co.za/Pay/index/{{userid}}">click here</a> to purchase more tokens.</p>
      <p>Kind regards,<br>
        The Carbooth Team.
      </p>
      <p>&nbsp;</p></td>
    </tr>
    <tr>
      <td style="padding:10px 20px 10px 20px;" bgcolor="#6095f2">&nbsp;</td>
    </tr>
    <tr>
      <td style="padding:30px 20px 30px 20px;">&nbsp;</td>
    </tr>
    <tr>
      <td style="padding:30px 20px 30px 20px;">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>

